
body{
    
    height: 100vh;
} 


    

.header_Admin{
 

    margin: 0 auto;
    height: 90px;
    padding: 0 0 0 calc(24px * .5);
    background-color: #FFFFFF; 

    display: flex; 
    justify-content: space-between;  
    z-index: 23;
    border-bottom: 2px solid #dad9d8;
    

}



.navbar_toggler{
    
    border: none;
    background: white;

} 
.navbar_toggler:hover{
    background: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} 

.btn_bell{
    background: none;
    border: none;
    margin-top: 10px; 
    padding: 0px 2px;
    width: 40px;
    position: relative; 
}

.btn_bell:hover{
    background:none;
}

.btn_bell span{
   position: absolute; 
   top: 8px;
   left: -15px;
   width: 25px;
   border-radius: 5px;
} 

.btn_user {
    background: none;
    border: none;
    
    position: relative;
}
.btn_user:hover{
    background: none;
    transition: none;
} 

.item{
    margin: 5px; 
    background-color: #577e73; 
    height: 130px;
  }

  

  

  .logoImage{
    width: 140px;
    height: 90px;
    border-radius: 50%;
  }

  .content{
    position: absolute;
    right: 500px;
    top: 110px;
  } 
/* ***************************************************** */

.conteant_page{
 
    display: grid; 
    grid-template-columns: 1fr 5fr;
    gap: 1px;
    height: 100vh;

}
.side_lists{

    background-color: white; 
    width: 230px; 
    height: 100vh; 
    z-index: 23;
    padding: 0px 10px;
   
   

  }  

  .side_lists ul{

    list-style: none;
     
  }

  .side_lists ul li{

    margin-bottom: 15px; 
    font-size: 18px; 
    font-weight: bold;
  }
  .side_lists ul li a{
    text-decoration: none;
    color: black;
  } 
  .side_lists ul li a:hover{
    border-bottom: 2px solid black;
   
  }
  .conteant_page div h2{
    margin-bottom: 23px;
    margin-top: 40px;
    margin-right: 71px;
  }

  .DashBourd{
    display: grid; 
    grid-template-columns: repeat(3,1fr); 
    gap:2px;  
    margin-top: 40px;
    margin-bottom: 9px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #dad9d8; */ 
    width: 900px;
    margin-right: auto;
    margin-left: auto;

    
  
  } 
  .DashBourd > div{
    background-color: #577e73;
    border: 2px solid black; 
    border-radius: 40px;
  } 

  .search_Complint form{
    margin-right: 100px;
  }
   
.notify_complaint{
  margin-right: 38px; 
  background-color: red;
  border-radius: 50%;
  padding: 2px;
  color: white;
  width: 2px;
  font-size: 16px;
  
} 


  
  
 
  
  