body{
    
    height: 100vh;
} 


    

.header_Admin{
 

    margin: 0 auto;
    height: 90px;
    padding: 0 0 0 calc(24px * .5);
    background-color: #FFFFFF; 

    display: flex; 
    justify-content: space-between;  
    z-index: 23;
    border-bottom: 2px solid #dad9d8;
    

}



.navbar_toggler{
    
    border: none;
    background: white;

} 
.navbar_toggler:hover{
    background: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} 

.btn_bell{
    background: none;
    border: none;
    margin-top: 10px; 
    padding: 0px 2px;
    width: 40px;
    position: relative; 
}

.btn_bell:hover{
    background:none;
}

.btn_bell span{
   position: absolute; 
   top: 8px;
   left: -15px;
   width: 25px;
   border-radius: 5px;
} 

.btn_user {
    background: none;
    border: none;
    
    position: relative;
}
.btn_user:hover{
    background: none;
    transition: none;
} 

.item{
    margin: 5px; 
    background-color: #577e73; 
    height: 130px;
  }

  

  

  .logoImage{
    width: 140px;
    height: 90px;
    border-radius: 50%;
  }