body{
    
    height: 100vh;
} 


    

.header_Admin{
 

    margin: 0 auto;
    height: 90px;
    padding: 0 0 0 calc(24px * .5);
    background-color: #FFFFFF; 

    display: flex; 
    justify-content: space-between;  
    z-index: 23;
    border-bottom: 2px solid #dad9d8;
    

}



.navbar_toggler{
    
    border: none;
    background: white;

} 
.navbar_toggler:hover{
    background: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} 

.btn_bell{
    background: none;
    border: none;
    margin-top: 10px; 
    padding: 0px 2px;
    width: 40px;
    position: relative; 
}

.btn_bell:hover{
    background:none;
}

.btn_bell span{
   position: absolute; 
   top: 8px;
   left: -15px;
   width: 25px;
   border-radius: 5px;
} 

.btn_user {
    background: none;
    border: none;
    
    position: relative;
}
.btn_user:hover{
    background: none;
    transition: none;
} 

.item{
    margin: 5px; 
    background-color: #577e73; 
    height: 130px;
  }

  

  

  .logoImage{
    width: 140px;
    height: 90px;
    border-radius: 50%;
  }  

/* ***************************************************************** */

.side_lists{

    background-color: white; 
    width: 240px; 
    min-height: 100vh; 
    z-index: 23;
    padding: 0px 10px;
   
    border-left: 1px solid black;
   
   

    
  }  

.side_lists ul li {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  
    display: flex;
    align-items: center; /* لمحاذاة الأيقونات والنص بشكل عمودي متساوي */
    gap: 8px; /* مسافة بين النص وعدد الإشعارات */
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .side_lists ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%; /* حتى يمتلئ عنصر القائمة بالكامل */
  }
  
  .side_lists ul li a:hover {
    background-color: #ced2d1; /* نفس لون الخلفية للمربعات */
    color: white;
    padding: 3px;
  }
  
  .notify_complaint {
    background-color: red;
    border-radius: 50%;
    padding: 2px 8px;
    color: white;
    font-size: 14px;
    min-width: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
  } 


.cardBox{

  background-color: #F8F9FA; 
  border-radius: 30px; 
  height: 110px;
} 
.form_label{
  
  font-weight: bold;
}

form{
  font-size: 17px;
}


.content_Complaint{
  height: 100vh ;

}

.Home_conteaner{
  display: grid; 
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    min-height: 100vh;
}

.btn_width{
  width: 50%;
}