
 .conteaner{
    direction: ltr;
    margin: 5px 100px ;
 }

.header_submint{
       
    width: 100%; 
    background-color: #577E73;
    min-height: 110px; 
    position: relative; 
    box-shadow: 0px 7px 16px -1px #60946e;

}
/* .logo{
   
    display: inline;

} */
.logo_header{
     
    width: 100px; 
    height: 80px; 

    margin: auto 10px;
    position: absolute;
    right: 60px;
    top: 15%;

}

/* .links_Citezen a {
  padding: 10px; 
  color:  black;
  font-size: 20px ;
  font-weight: bold; 
  
  text-decoration: none;
} */
 

.prev_Complint{
    padding: 10px; 
    color:  black;
    font-size: 20px ;
    font-weight: bold;   
    text-decoration: none;

}

.links_Citezen {
  display: inline;
  padding: 10px; 
  margin: 10px;

  background-color: #6B99B1; 
  border-radius: 50px; 

  position: absolute; 
  top: 20px; 
  right: 300px;  
  
  
}

.links_Citezen:hover{
    
    background-color: #52656E;
    transition: 0.9s; 
}

.info_Date_time{

    display: inline-flex; 
    gap: 70px;  
    padding: 10px; 

}

.info span{

   color: white; 
   font-size: 19px; 
   font-weight: bold; 
   padding: 10px; 
   
   margin: 10px;
    
} 


form{

    padding: 10px; 
    width: 100%; 
    text-align:start;

   
}

form  >  input{
    padding: 10px;
    width: 600px; 
    font-size: 20px; 
    margin-bottom: 5px;
    margin-right: 5px;

}
input,label{
    margin-bottom: 5px;
}

form  > select{
    padding: 10px; 
    width: 250px; 
    margin-bottom: 5px; 
    font-size: 19px; 
}

form >  label{
    
    font-size: 19px; 
    font-weight: bold; 
    margin-left: 10px;  
    /* display: inline;
    float: right; */

} 
form >textarea{
    font-size: 19px; 
    font-weight: bold; 
}
 
.complaint_Content{
      
  width: 100%;
  min-height: 100vh;
  padding: 20px 20px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
  align-items: center;
}

 
.title_page{
    text-align: center; 
    padding: 10px; 
    margin-bottom: 10px; 

}

form > button{
    padding: 10px; 
    width: 270px;
    height: 50px;
    
    font-weight: bold;
    font-size: 18px;
    background-color: #60946e; 
    border: none; 
    outline: none; 
    border-radius: 30px;
    cursor: pointer;
}

form > button:hover{
   background-color: #52656E;
   transition: 0.9s; 
   margin-top: 5px;
} 
 



/* .footer{
    background-color: #181818;
    height: 250px; 
    position: relative;
} 

.copyright_area{
    position:absolute;
    
}

.footer_item{
    
    width: 330px;
    height: 180px; 
    padding: 10px;
    margin: 5px;
    background-color: #60946E; 
    position: absolute; 
    right: 70px;
    margin-bottom: 10px;
    
}

.copyright_area{ 
    width: 99%; 
    padding: 10px;
    background-color: #202020; 
    bottom: 0px;
}

.social_icons a{
   padding: 10px; 
} */