/* body {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden; 
 
} */

.footer {
  background-color: #181818;
  height: 350px;
  width: 100%;
  /* margin-top: 20px; */
  position: relative;
}

.copyright_area {
  position: absolute;
}

.footer_item {
  width: 100%;
  height: 270px;
  padding: 15px 10px;
  background-color: #577E73;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-size: 19px; 
  color: white;
}
.text_footer {
  width: 100%;
  height: 200px;
  padding: 2px 10px;
}



.logInEmoloyees {
  text-decoration: none;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 220px;
  color: black;
  font-size: 19px;
  color: white; 
 

}

.logInEmoloyees:hover {
  text-decoration: underline;
}

.copyright_area p {
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
}

.copyright_area {
  width: 99%;
  padding: 10px;
  background-color: #202020;
  bottom: 0px;
}
.social_icons {
  padding: 2px 10px;
  margin: 5px 0px;
}
.social_icons h3 {
  margin: 0px 60px 10px 0px;
}
.social_icons li {
  list-style: none;
}

.social_icons a {
  padding: 10px;
  margin: 2px 8px;
  border-radius: 50px;
}

.social_icons a:hover {
  background-color: #202020;
}
